.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid blue;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: green;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

.loading {
  border: 16px solid #b4f0b2;
  border-top: 16px solid blue;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s cubic-bezier(0, 0, 0.44, 1.12) infinite; /* o cubic-bezier evita que a barra faça o movimento linear. me parece mais realista. */
}

/* proporciona a rotação da borda no topo (em azul). essa rotação simula o progresso do loading...*/
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
